#root {
  margin: 0 auto;
  padding: 3%;
  text-align: center;
  background-color: #f5eee6;
}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.plates {
  display: block;
}

.plates2 {
  display: block;
}
